<div class="container" >
  <div *ngIf="students.length > 0">
    <div class="title">
        <h2>Students</h2>
    </div>

    <ul >
      <div class="list">
          <li *ngFor="let student of students" class="list-group-item" style="background-color: grey; border-radius: 5px; padding: 10px;">
            <div class="p-group"> <h2 class="title-li">Reference:</h2><p> {{ student.id }}</p></div>
            <div class="p-group"><h2 class="title-li">Name:</h2><p> {{ student.name }}</p></div>
            <div class="p-group"> <h2 class="title-li">Email:</h2><p> {{ student.email }}</p></div>
            <div class="p-group"><h2 class="title-li">Age:</h2><p> {{ student.age }}</p></div>
            <div class="p-group"><h2 class="title-li">DOB:</h2><p> {{ student.dob }}</p></div>
            <div class="p-group"><h2 class="title-li">First exam:</h2><p> {{ student.n1 }}</p></div>
            <div class="p-group"><h2 class="title-li">Second exam:</h2><p> {{ student.n2 }}</p></div>
            <div class="p-group"><h2 class="title-li">Third exam:</h2><p> {{ student.n3 }}</p></div>
            <div class="p-group"><h2 class="title-li">Finale mark:</h2><p> {{ student.mg }}</p></div>
            <div class="p-group"><h2 class="title-li">Matiere:</h2><p> {{ student.matiere }}</p></div>
            <div class="p-group"><h2 class="title-li">Validation: </h2><p>{{ student.valid }}</p></div>
          </li>
      </div>


    </ul>
</div>

<form class="add-form" (ngSubmit)="fetchCountMatiere()">
  <div class="form-matiere">
    <label for="matiere">Matiere:</label>
    <input type="text" id="matiere" name="matiere" required [(ngModel)]="matiere" (keydown.enter)="fetchCountMatiere()">
  </div>

</form>





  <div *ngIf="students.length === 0">
    <p class="alert alert-info">No students found.</p>
  </div>



<footer>

  <div class="Student-Count">
    <h5 >Student Count</h5>
    <div class="underline"></div>
    <div>
      <p class="noRes">{{count}}</p>
    </div>
  </div>

  <div class="Validation-Matiere" >
    <h5>Validation Par Matiere</h5>
    <div class="underline2"></div>
   <div>
  <ng-container *ngIf="countMatiereP !== undefined" >
    <p class="noRes">{{ countMatiereP }} %</p>
  </ng-container>
  <ng-container  *ngIf="countMatiereP === undefined">
    <p class="noRes">%</p>
  </ng-container>
</div>

</div>

 <ng-container  *ngIf="latitude && longitude !==undefined">
  <div class="Location">
    <h5>Location</h5>
    <div class="underline3"></div>
    <div>
      <p class="noRes">{{latitude}} , {{longitude}}</p>
    </div>
  </div>
 </ng-container>
 <div *ngIf="locationError" class="error-message">
  {{ locationError }}
</div>
</footer>
</div>

