

#main{
background-image: url("../../../assets/Nature Website/img/main.png");
min-height: 40vh;
background-position: bottom center;
background-size: cover;
}

.container{
  max-width: 1200px;
  padding: 16px;
  margin: auto ;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list{
  display: flex;
  list-style: none;
  gap: 28px;
  align-items: center;
  font-weight: bold;
}

.nav-list li a{
  color: var(--white);
  text-decoration: none;



}

.nav-list .btn {
  display: flex;

}

.btn{
  padding: 12px 20px;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
}

.btn-primary{
  border: 2px solid var(--white);
  color: var(--primary);
  background: var(--secondary);
  transition: transform 0.4s ease-in-out;

}

.btn-primary:hover{
 transform: scale(1.1);
}


.btn-secondary{
  border: 2px solid var(--white);
  color: var(--white);
  font-weight: bold;
  transition: transform 0.4s ease-in-out;
}
.btn-secondary:hover{
   transform: scale(1.1);
}

.main-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 28px;
}

.main-content h1{
  font-size: 50px;
  color: var(--white);

}
.main-content p{
  color: var(--white);
  max-width: 500px;

}


.main-content .btn{
  padding: 15px;
  background-color: var(--secondary);
  border-radius: 10%;
  font-size: large;
  color: var(--clr-dark);
  border: none;

}

#services{
  max-height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  // border: solid;
}


.section-title{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.services{
  display: flex;
  flex-direction: row ;
  gap: 20px;
}
.line{
  width: 200px;
  border-bottom: solid 5px var(--secondary);
}

.service img{
  max-height: 70vh;
  transition: transform 0.3s ease-in-out;
  border-radius: 15px;
}

.service img:hover {
  transform: scale(1.1); /* Scale the image on hover */
}
.service{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#testimonial{
  background-color: whitesmoke;
}
.quote{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote img{
  height: 3vh;
  width: 2vw;
  margin: 15px 2px;
}

.quote p{
  width: 500px;
  font-size: 20px;
  font-weight: bold;
}

.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.profile img{
  margin-top: 10px;
}
.aboutus-Content{
  display: flex;
  flex-direction: row;
  gap: 100px;

}
