<header class="Hea"> <div class="div1"> aa</div> <div class="div1"> bb</div> <div class="div1"> cc</div></header>


<section>
  <div class="container">
  <div class="item item-1">
     <h1>CSS</h1>
      <p>
        CSS (Cascading Style Sheets) is a stylesheet language responsible for the styling of your web page.
        It is used to express how HTML elements are styled, positioned and rendered on all of the different screen display and sizes.
      </p>
  </div>
  <div class="item item-2">
      <h1>JavaScript</h1>
      <p>JS (JavaScript) is one of the most widely used programming languages in the world. It allows us to add interactivity to our web pages.</p>
  </div>
  <div class="item item-3">
      <h1>ReactJS</h1>
      <br>
      <p>
        ReactJS (A JavaScript library for building user interfaces) is an open-source, declarative and component-based javascript library.
        It the most popular Javascript front-end library/framework and is widely used to build single page application and user interfaces.
      </p>
  </div>
  <div class="item item-4">
      <h1>NextJS</h1>
      <br>
      <p>
        NextJS (The React framework for production) is a React framework with all the features you need for production - hybrid,
        static & server rendering, TypeScript support, smart bundling, route pre-fetching, and more. No config needed and great developer experience.
      </p>
  </div>

  <!-- <img class="jes" src="../../../assets/jessica-oyhenart-arcana-camille-proposedfinal (1).jpg"> -->
</div>

</section>
